@import url('https://fonts.googleapis.com/css?family=Lato:400,900|IBM+Plex+Mono');
* {
  margin: 0;
  color: #787a91;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  font-size: 100%;
}
body{
  background-color:#f4f5fa;
}

.flex-container {
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-side {
  background-color: #f4f5fa;
  padding: 20px;
  flex: 1;
  min-height: 90vh;
}

.flex-side:nth-child(2) {
  background-color: #fdffff;
  flex: 1;
}

@media screen and (max-width:990px) {
  .container {
    flex-wrap: wrap;
    height: auto;
    display: table;
  }
  .flex-side:first-child {
    flex-basis: 100%;
    min-height: auto;
  }
  .flex-side.result {
    min-height: auto;
  }

}

.center-content {
  width: 500px;
  margin: 70px auto;
}

.center-content h1 {
  color: #2c509e;
  font-size: 2em;
  font-weight: 700;
  text-align: left;
  line-height: 1.1em;
  text-transform: uppercase;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 8px;
  left: 482px;
  height: 18px;
  width: 18px;
  background-color: #ddd;
}

.container:hover input~.checkmark {
  background-color: #aaa;
}

.container input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tip {
  font-family: 'IBM Plex Mono', monospace;
  color: #787a9194;
  font-size: 0.8em;
}

.btn {
  text-transform: uppercase;
  color: #fdffff;
  background-color: #2196F3;
  border: 1px solid #2196F3;
  outline: 0;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.submit-btn {
  font-size: 1.1em;
  padding: 8px 25px;
  border-radius: 2px;
}

.submit-btn:hover {
  background: #1aaa55;
  border: 1px solid #1aaa55;
}

.submit-btn:active {
  background: #168f48;
  border: 1px solid #168f48;
  padding: 12px 25px 8px;
}

.submit-btn.inactive {
  background-color: #ddd;
  border: 1px solid #ddd;
}

.copy-btn {
  padding: 8px 20px 7px 20px;
  margin-left: -3px;
  font-size: 0.9em;
}

.copy-btn:hover {
  background: #1aaa55;
  border: 1px solid #1aaa55;
}

.copy-btn:active {
  background: #168f48;
  border: 1px solid #168f48;
  padding: 10px 20px 5px 20px;
}

.password-result {
  margin: auto;
  margin-left:0px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 0px;
}

.password-result>input[type=text] {
  background-color: #fdffff;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.1em;
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 0.1em;
  flex: 1;
  min-width: 150px;
}

.password-result>input[type=text]::selection {
  background: transparent;
}

.password-result>input[type=text]::-moz-selection {
  background: transparent;
}

.password-result>input[type=text]:focus {
  background: #eee;
}

.center-results {
  height: 5.5vh;
  width: 75%;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
}

#password-length, #password-count{
  opacity: 1;
  position: absolute;
  left: 472px;
  top:5px;
  width: 1.2em;
  height: 1.2em;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  border-color: #2196F3;
  background-color: #2196F3;
  color: white;
}

.button-container{
  align-content: center;
}
.results-button-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a{
  text-decoration: none;
  color: #2196F3;;
}